@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Version 2</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ea atque quam accusamus necessitatibus labore. Nam, aut eaque corrupti, in minus laudantium praesentium asperiores beatae cupiditate veritatis nobis pariatur repellat?
        Reiciendis unde impedit voluptatem molestias accusantium, blanditiis officia odio consequuntur aliquam? Dolores sunt ab eaque? Quae quam nisi nobis enim? Debitis, dolorem.
        Iusto omnis alias impedit? Non minus maiores provident. Unde quo soluta sequi, ipsam labore, voluptatum dolore enim, magni magnam porro vitae accusantium.

    </p>
</div>

<div class="text-center">
    <h1 class="display-4">Version 3 - GitHub Action</h1>
    <p>
        This is kinda cool!

    </p>
</div>
